body {
    /*background-image: url("https://placehold.co/1024x1024");*/
}

h2 {
    color: chocolate;
    background-color: gray;
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 30px;
    padding-right: 0px;
}

h2.neo {
    font-size: 2rem;
    size: fixed;
    max-height: 30px;
    width: 30vw;
    overflow-y: scroll;
    overflow-x: hidden;
    position: sticky;
    top: 0;
}

a {
    border-width: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: solid;
    border-color: red green blue yellow;
}

a:link {
    color: red;
    /*background-color: red;*/
    padding: 10px;
}

a:visited {
    color: green;
}

a:hover {
    color:pink;
    background-color: pink;
}

a:active {
    color:yellow;
}

img.neoimg {
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
}

table, th, td {
    border: 1px solid white;
    background-color: #96D4D4;
    border-collapse: collapse;
}

th.thclass {
    background-color: #96D4D4;
    width: 200px;
}

div.meowdiv1 {
    background-color: yellow;
    padding-left: 30px;
    width: 30vw;
    display: inline-block;
}

div.meowdiv2 {
    background-color: orange;
    padding-left: 30px;
    display: inline-block;
    width: 30vw;
}

div.meowdiv3 {
    background-color: greenyellow;
    padding-left: 30px;
    display: inline-block;
    width: 30vw;
}

div.container {
    display: inline-flex;
    justify-content: space-around;
}

li:hover {
    background-color: grey;
}

ul.list > li {
    background-color: red;
}

